.wrapper{
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
}

.center{
	display: grid;
	grid-template-columns: 1fr;
}

.main{
	display: grid;
	grid-template-columns: 1fr;
}

.frm-candidato{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr 1fr;
    grid-column-gap: 0.5em;
    align-items: end;
}

.lbl-Numero, .lbl-Nome{
    justify-self: end;
}

.list-candidatos-wrapper{
    margin-top: 2em;
    padding: 1em;
    background-color: gray;
    border-radius: 0.5em;
}

.list-candidatos{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-gap: 0.5em;
    align-items: center;
    /*Font*/
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-footer{
    text-align: center;
}
