<div class="wrapper">
    <div></div>
    <div class="center">
        <header style="text-align: center;">
            <h1>Eleições Presidenciais</h1>
        </header>
        <section class="main">
            <div class="card">
                <div class="card-header">
                    <strong>Candidatos</strong>
                    <small>Presidente</small>
                </div>
                <div class="card-block">
                    <section class="frm-candidato">

                        <label class="form-control-label lbl-Numero">Numero:</label>
                        <div>
                            <input required [(ngModel)]="numeroCandidato" id="Numero" name="Numero" placeholder="Numero" class="form-control">
                        </div>
                        <label id="campoNome" class="form-control-label lbl-Nome">Nome:</label>
                        <div>
                            <input required [(ngModel)]="nomeCandidato" id="nome" name="nome" placeholder="Nome Candidato" class="form-control">
                        </div>
                        <button (click)="addCandidato()" type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button>

                    </section>

                    <div *ngIf="candidatos.length>0" class="list-candidatos-wrapper">
                        <section class="list-candidatos" *ngFor="let c of candidatos">
                            <div>{{c.numero}}</div>
                            <div>{{c.nome}}</div>
                            <button (click)="deleteCandidato(c)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-close"></i></button>
                        </section>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-dot-circle-o"></i> Criar Contrato da Votação</button>
                </div>
            </div>
        </section>
    </div>
    <div></div>
</div>
